@import "tailwindcss";

@theme {
  --color-bg-page: #F6F7F9;
  --color-bg-surface: #FFFFFF;

  --color-text-primary: #17191E;
  --color-text-secondary: #606774;
  --color-text-tertiary: #969DA8;
  --color-text-danger: #D92D20;

  --color-border-default: #E3E6EB;

  --color-action-primary: #2563EB;
  --color-action-primary-hover: #1D4ED8;
  --color-action-primary-active: #1748AD;
  --color-action-disabled: #D9E5FF;
}